.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.myswiper {
  width: 85%;
  height: 60%;
}

.header {
  text-align: center;
  font-size: 34px;
  font-family: "BYekan";
  color: #848484;
  margin-top: 68px;
  margin-bottom: 40px;
}

.swiperslide {
  text-align: center;
  font-size: 18px;
  background: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiperslide > img {
  display: block;
  width: 144px;
  height: 142px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.swiperslide > .text {
  font-family: "BYekan";
  margin-top: 10px;
  margin-right: 135px;
  color: #848484;
}

.prev,
.next {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #848484;
  padding: 10px;
  z-index: 10;
}

.prev {
  left: -50px;
}

.next {
  right: -50px;
}
