/* add font  */
@font-face {
  font-family: BYekan;
  src: url("../../../public/fonts/BYekan.ttf");
}
.countWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 100px;
}

.iconBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #ff6f00;
  border-radius: 50%;
  margin-bottom: 10px;
}
