.container {
  display: grid;
  grid-template-columns: repeat(2, 0.7fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: "BYekan";
  margin: 0;
  padding: 20px;
  margin-left: 10%;
  margin-top: 61px;
}

.card {
  background: #fbfbfb;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 496px;
  height: 195px;
  position: relative;
  transition: 0.3s;
  margin-bottom: 86px;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.card:last-child {
  grid-column: 2;
}
.icon {
  position: absolute;
  top: -20px;
  right: 20px;
  background: #eef1fc;
  padding: 10px;
  border-radius: 50%;
}

.icon img {
  width: 24px;
  height: 24px;
}

.title {
  font-weight: bold;
  color: #110d8c;
  margin-bottom: 10px;
  direction: rtl;
  margin-top: 25px;
}

.desc {
  color: #848484;
  font-size: 16px;
  direction: rtl;
}

.divider {
  height: 40px;
  width: 4px;
  background: orange;
  position: absolute;
  right: 0;
  top: 20px;
  border-radius: 5px;
}
