/* add font  */
@font-face {
  font-family: BYekan;
  src: url("../../../public/fonts/BYekan.ttf");
}
.newSection {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 80%;
}

.halfSection {
  width: 48%;
  background: #ffffff;
  padding: 8px;
  flex-wrap: wrap;
}
.halfSection.second {
  margin-right: 120px;
}
.halfSection.first {
  font-family: "Byekan";
  margin-top: 40px;
  width: 100%;
  height: 100%;
}
.halfSection.first > h1 {
  text-align: right;
  margin-bottom: 10px;
  color: #848484;
  font-size: 34px;
}
.halfSection.first > p {
  text-align: justify;
  font-size: 16px;
  line-height: 40.09px;
}
.wrappbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.wrappbtn > button {
  font-family: "Byekan";
  width: 114px;
  height: 35px;
  background-color: #110d8c;
  padding: 8px 0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  gap: 5px;
  width: 24%;
}
