/* background image for the whole page */
main {
  background-image: url("../../public/images/bgc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
