.container {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.element {
  width: 1065px;
  height: 455px;
  border-radius: 4px;
  background: #dfdfdf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contorol {
  width: 978px;
  height: 57px;
  position: absolute;
  bottom: 50px;
  left: 280px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  background-color: #edf2f8cf;
  border-radius: 8px;
  gap: 35px;
  cursor: pointer;
}
.pause {
  margin-left: 20px;
}
