.wrapper {
  width: 100vw;
  overflow: hidden;
  padding: 2rem 0;
  text-align: center;
  padding: 40px 0;
  background-image: url("../../../public/images/Layer_1 1.svg");
  height: 340px;
  margin-top: 40px;
}

.h1 {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 68px;
  color: #848484;
}

.swiper {
  padding: 2rem 0;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.swiper-slide-active .card {
  transform: scale(1.05);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.image {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

