.first {
  text-align: center;
  padding: 40px 0;
  background-image: url("../../../public/images/Layer_1 1.svg");
  height: 300px;
}

.header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #848484;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  margin: auto;
  overflow: hidden; /* اضافه کردن این خط برای جلوگیری از اسکرول افقی */
}

.swiper {
  width: 100%;
  overflow: visible;
  padding: 10px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.slideWrapper {
  background: white;
  width: 280px;
  height: 250px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.slideWrapper:hover {
  transform: scale(1.05);
}

.slideWrapper img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.navButton1 {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  z-index: 10;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 30px;
  transition: 0.3s;
  right: 90%;
}
.navButton2 {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  z-index: 10;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 30px;
  transition: 0.3s;
  left: 90%;
}

.navButton:hover {
  background: #ff6600;
  color: white;
}
